@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-link: rgb(234 88 12);
    --color-link-hover: rgb(249 115 22);
    --color-text: rgb(68 64 60);
    --color-background: #fff;
    /* @apply text-zinc-700; */
    
  }
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply font-body;
    @apply relative;
  }
  a {
    @apply text-orange-700;
  }
  a:hover {
    @apply text-orange-600;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-zinc-700;
    @apply dark:text-stone-200;
  }
  .container, main section {
    @apply mx-auto;
    @apply sm:px-6;
    @apply lg:px-8;
  }
  main section {
    @apply px-4;
    @apply py-10;
    @apply md:py-14;
  }
} 
@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
body {
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.5rem;
   text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}
 .raleway {
  font-family: "Raleway", sans-serif;
}
h1, h2, h3, h4, h5, h6, .poppins {
  font-family: Poppins, sans-serif;
}